In [3]:
def validate_int(num):
    return 0<=num<=100

validate_int(180)

False

In [4]:
def case_letters(string):
    uppercase = 0
    lowercase = 0
    for x in string:
        if ord(x)>95:
            lowercase += 1
        elif ord(x)>=65:
            uppercase += 1
    return f"number of uppercase letter is {uppercase} numeber of lowercase letter is {lowercase}"

case_letters("My Name Is Amrit")

'number of uppercase letter is 4 numeber of lowercase letter is 9'

In [5]:
def capitalize(char):
    if ord(char)>=97:
        return chr(ord(char)-32)
    return char

def lowercase(char):
    return char if ord(char)>= 97 else chr(ord(char)+32)

def greeting(name):
    new_name = ""
    for x in range(len(name)):
        if x == 0:
            new_name += capitalize(name[x])
        else:
            new_name += lowercase(name[x])
    return new_name

greeting("MaLta")

'Malta'

In [6]:
def process_data(string):
    if len(string)<=1:
        return string
    return string[:-1]
process_data("hello")

'hell'

In [7]:
def to_fahrenheit(celsius):
    return 1.8*celsius + 32
to_fahrenheit(37)

98.60000000000001

In [8]:
def to_fahren(celsius):
    data = float(process_data(celsius))
    return f"{to_fahrenheit(data)} F"
to_fahren("37C")

'98.60000000000001 F'

In [12]:
def enter_values(size):
    lst = []
    for x in range(size):
        temp = input("Enter a celsius value: ")
        lst.append(to_fahren(temp))
    lst = [float(x[:-1]) for x in lst]
    return lst

size = 6
lst = enter_values(size)
print("Maximum: ",max(lst),"\nMinimum: ", min(lst), "\nMean: ", sum(lst)/size)

Enter a celsius value: 32c
Enter a celsius value: 12c
Enter a celsius value: 45c
Enter a celsius value: 34
Enter a celsius value: 34c
Enter a celsius value: 45c
Maximum:  113.0
Minimum:  37.4
Mean:  83.3

In [13]:
def enter_values():
    lst = []
    while True:
        temp = input("Enter a celsius value: ")
        if not temp:
            break
        lst.append(to_fahren(temp))
        
            
    lst = [float(x[:-1]) for x in lst]
    return lst
lst = enter_values()
if lst:
    print("Maximum: ",max(lst),"\nMinimum: ", min(lst), "\nMean: ", sum(lst)/len(lst))

Enter a celsius value: 54c
Enter a celsius value: 34c
Enter a celsius value: 23
Enter a celsius value: 45c
Enter a celsius value:
Maximum:  129.2
Minimum:  35.6
Mean:  92.75

In [ ]:
#def (c-0)/100 = (f-32)/180