In [1]:
10<100

True

In [2]:
100!=100

False

In [3]:
50>=50

True

In [5]:
age = 23
if age < 18:
    print("Less than 18")
elif age < 21:
    print("Greater than or equal to 18 and less than 21")
elif age < 31:
    print("Greater than or equal to 21 and less than 31")
else:
    print("Greater than 31")

Greater than or equal to 21 and less than 31

In [6]:
"a" < "b"

True

In [12]:
"b" < "a"

False

In [15]:
"John" < "Terry"

True

In [16]:
"john" < "Terry"

False

In [19]:
5 < 10.2

True

In [20]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [21]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
age = 30
print(age>=18 and age<=65)
print(age<18 or age>65)
print(not age > 18)

True
False
False

In [28]:
age = 30

(age >=18 and age <=65) and (not age==30)

False

In [31]:
weight = 129
height = 150
print(100 < weight < 200)
print(131 < height < 160)

True
True

In [2]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
"Amrit" not in names

True

In [3]:
"Eric" in names

True

In [9]:
age = int(input("Enter your age: "))
if 18<=age<=30:
    print("You are still young")

Enter your age: 23
You are still young

In [11]:
age = int(input("Enter your age: "))
if 18<=age<=30:
    print("You are still young")
elif 30<age<40:
    print("You are not very old yet")

Enter your age: 38
You are not very old yet

In [12]:
name = input("Enter your name: ")
if name!="":
    print("Your name is", name)
else:
    print("Not entered name")

Enter your name:
Not entered name

In [14]:
age = 17
"you are an adult" if age>=18 else print("You are not an adult yet!")

You are not an adult yet!

In [6]:
for x in range(2,11,2):
    print(f"{x} to the power {x} = {x**x}")

2 to the power 2 = 4
4 to the power 4 = 256
6 to the power 6 = 46656
8 to the power 8 = 16777216
10 to the power 10 = 10000000000

In [11]:
numbers = [10, 20 , 30, 90, 100, 30, 22, 11]
total = 0
for x in numbers:
    if x > 100:
        break
    total += x
else:
    print("All numbers processed")
print(total)

All numbers processed
313

In [15]:
num = int(input("Enter a value between 1 and 10"))
if 1<=num<=10:
    print("The value was in the expected range")
else:
    print("The value is not in the expected range")

Enter a value between 1 and 105
The value was in the expected range